nodered.json
[{"id":"473f02eb.113d0c","type":"debug","z":"89035107.969fa","name":"","active":true,"console":"false","complete":"false","x":770,"y":120,"wires":[]},{"id":"61d7deb.3f1782","type":"natural-language-understanding","z":"89035107.969fa","name":"false","categories":false,"concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":502.35717010498047,"y":77.89639854431152,"wires":[["40f779a0.72da38","473f02eb.113d0c"]]},{"id":"40f779a0.72da38","type":"debug","z":"89035107.969fa","name":"","active":true,"console":"false","complete":"features","x":766.5,"y":76.91426277160645,"wires":[]},{"id":"43db8773.6017e","type":"inject","z":"89035107.969fa","name":"","topic":"","payload":"esse tablet da android é sensacional, e tem 8GB muito top, branco super bonito! Não é nada mal","payloadType":"str","repeat":"","crontab":"","once":false,"x":103.78569793701172,"y":78.91424369812012,"wires":[["147d2ed1.cc4141","61d7deb.3f1782"]]},{"id":"147d2ed1.cc4141","type":"function","z":"89035107.969fa","name":"Model from WKS","func":"msg = \n{payload:msg.payload,\n    nlu_options:{entity_model: \"10:d7dfee4a-ca63-4f92-9fd9-2ce5199477b6\"\n                \n    }};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["61d7deb.3f1782"]]}]